<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %> <!-- this is a call to the stylesheet_link_tag method same as stylesheet_link_tag(),
  the media hash does not need {} because it is the last argument in a function call (standard), data-turbolink-track is assigned by hashrocket because it has hyphens -->
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
